streamlit==1.39.0
numpy==1.26.4
pillow==10.4.0
opencv-python-headless==4.10.0.84
torch==2.4.1
torchvision==0.19.1
scipy==1.14.1
seaborn==0.13.2
pandas==2.2.3
protobuf==5.28.2
psutil==6.0.0
py-cpuinfo==9.0.0
pyarrow==17.0.0
rich==13.9.1
tqdm==4.66.5
tenacity==9.0.0
pyyaml==6.0.2
onnxruntime
ultralytics==8.3.2
ultralytics-thop==2.0.8